aioboto3==13.4.0
boto3==1.36.1
httpx==0.28.1
langdetect==1.0.9
numpy==2.2.2
openai==1.62.0
Pillow==11.1.0
promptgen==0.0.2
py_trees==2.3.0
pydub==0.25.1
python-dotenv==1.0.1
python-telegram-bot==21.10
python-telegram-bot[job-queue]==21.10
pytz==2024.1
Requests==2.32.3
sounddevice==0.5.1
soundfile==0.13.1
Sphinx==8.1.3
